<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300193059462-okf0uiotuhpjqavuoqsnstad14apfi4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300193059462-okf0uiotuhpjqavuoqsnstad14apfi4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBogl-RQGSCuvw-WZaI9E9vdjo4KLYyQEw</string>
	<key>GCM_SENDER_ID</key>
	<string>300193059462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cashinga.gameark</string>
	<key>PROJECT_ID</key>
	<string>gameark-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>gameark-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300193059462:ios:1a3179375fbd12d7323707</string>
</dict>
</plist>